/* This CSS file will be used by all the pages */

/* * {
    background-color: rgba(255, 0, 0, 0.2);
}
* * {
    background-color: rgba(0, 255, 0, 0.2);
}
* * * {
    background-color: rgba(0, 0, 255, 0.2);
}
* * * * {
    background-color: rgba(255, 0, 255, 0.2);
}
* * * * * {
    background-color: rgba(0, 255, 255, 0.2);
}
* * * * * * {
    background-color: rgba(255, 255, 0, 0.2);
}
* * * * * * * {
    background-color: rgba(255, 0, 0, 0.2);
}
* * * * * * * * {
    background-color: rgba(0, 255, 0, 0.2);
}
* * * * * * * * * {
    background-color: rgba(0, 0, 255, 0.2);
} */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
}

.hidden {
    display: none;
}

.flex-one {
    flex: 1;
}
:root {
    --primary900: #b71c1c;
    --light-bg: #eeeeee;
    --surface: #fafafa;
    --dark-bg: #212121;
    --surface-bg: #fafafa;
}

button {
    background-color: white;
    border: 1px solid var(--primary900);
    border-radius: 4px;
    font-size: 17px;
}

.icon-btn {
    --padding: 8px;
    border: none;
    background-color: inherit;
    padding: var(--padding);
    /* background-color: cadetblue; */
    /* display: flex; */
}

.icon-btn:hover {
    border-radius: 50%;
    background-color: var(--surface-bg);
}
.icon-btn:focus {
    border-radius: 50%;
    outline: none;
    border: 1px solid var(--primary900);
}

.icon-btn__icon {
    /* --icon-size: 27px;
    width: var(--icon-size);
    height: var(--icon-size); */
    margin: auto;
}

/* First hide, the icon, then show so that where same icon is used on hover, we have to use only one  */
.icon-btn__icon--filled {
    display: none;
}

.icon-btn__icon--outlined {
    display: block;
}
.icon-btn:hover > .icon-btn__icon--outlined,
.icon-btn:focus > .icon-btn__icon--outlined {
    display: none;
}

.icon-btn:focus > .icon-btn__icon--filled,
.icon-btn:hover > .icon-btn__icon--filled {
    display: block;
    fill: var(--primary900);
}

button:hover,
button:focus {
    /* outline: 2px solid var(--primary900);
    border: 1px solid rgba(0, 0, 0, 0); */
}
