/* This CSS file will be used by all the pages */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
}

.hidden {
    display: none;
}

:root {
    --primary900: #f57f17;
    --light-bg: #fafafa;
}
