.ql-clipboard {
    display: none;
}

#toolbar {
    display: flex;
}

.toolbar__btn {
    border: none;
    margin: 2px;
}
.toolbar-btn__icon {
    --icon-size: 37px;
    width: var(--icon-size);
    height: var(var(--icon-size));
}
.save-status-container {
    display: flex;
    justify-content: flex-end;
}

#save-status {
}
