body {
    display: flex;
    flex-direction: column;
}
.ql-clipboard {
    display: none;
}

#toolbar {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}

.toolbar__btn {
    border: none;
    margin: 2px;
}
.toolbar-btn__icon {
    --icon-size: 37px;
    width: var(--icon-size);
    height: var(var(--icon-size));
}

.save-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.save-container--btn {
    flex-grow: 1;
}

.save-container--message {
    font-size: 17px;
}

#editor {
    border-top: 1px solid black;
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
}

.ql-editor {
    flex-grow: 1;
    outline: none;
}
